.monomaniacOneRegular {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sairaStencilOneRegular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 520px;
  height: 60px;
  background-color: #393737;
  margin-bottom: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.version {
  color: #4aff50;
  margin-top: 25px;
  font-size: 16px;
}

.title {
  display: flex;
  align-items: center;
  color: whitesmoke;
  height: 100%;
  font-size: 50px;
  margin: 0px;
}
